/* fix the width of the -webkit-transform when the menu shows */
.snap-drawer {
    width: 266px;
}

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
    display: block;
    right: 0;
    left: auto;
}

/* Show the "Drag" background in the demo */
#content {
    background: #DCDCDD;
}

#toolbar {
    background: #494B4F;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: auto;
    height: 44px;
}

#open-left {
    background: url(../img/open.png) center center no-repeat;
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    outline: none;
}

/* Default demo styles */
.snap-content {
    background: #BFC7D8;
}

.snap-drawer {
    background: #585859;
    color: #eee;
}

.snap-drawer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.snap-drawer li > a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
    color: #ccc;
    text-indent: 20px;
}
.snap-drawer p {
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
}